<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>helloWorld</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
<h1>v-for</h1>
<hr>
<div id="app">
    <ul>
        <li v-for="item in sortItems">
            {{item}}
        </li>
    </ul>
    <hr>
    <ul>
        <li v-for="(student,index) in sortStudents">
            {{index+1}}:{{student.name}}--{{student.age}}
        </li>
    </ul>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data:{
            items:[20,23,18,6,32,19,54,56,41],
            students:[
                {name:'JsTammy',age:'26'},
                {name:'jingjing',age:'20'},
                {name:'yujing',age:'18'},
                {name:'gengyujing',age:'16'}
            ]
        },
        computed:{
            sortItems:function () {
//                return items=[4,2,3,4,25,6,7,8,9];
                return this.items.sort(sortnumber);
            },
            sortStudents:function () {
                return sortByKey(this.students,'age');
            }
        }
    })
//    数组排序
    function sortnumber(a,b) {
        return a-b;
    }
//    对象形式的数组排序
    function sortByKey(array,key) {
        return array.sort(function (a,b) {
            var x=a[key];
            var y=b[key];
            return ((x<y)?-1:((x>y)?1:0));
        })
    }
</script>
</body>
</html>